.addtocart .content-item
{
    position: relative;
    margin: 30px;
    margin-left: 70px;
    display: flex;
    
}
.addtocart .item-img
{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid rgb(129, 129, 129);
    margin: 50px;
    background-color: rgb(255, 255, 255);
}
.addtocart .item-img img
{
    width: 350px;
    height: 350px;
    margin: 20px;
    

}
.addtocart .item-img img:hover
{
    transform: scale(1.1);
	transition:2s transform;
}
.addtocart .three-img
{
    margin: 10px;
    margin-left: 80px;
}
.addtocart .three-img img{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(163, 163, 163);
    cursor: pointer;
}
.addtocart .item-card
{
    margin: 50px;
    width: 500px;
    margin-top: 60px;
}
.addtocart .item-title{
    width: 500px;
     height: 100px;
    overflow: hidden;
}
.addtocart .item-title h2{
    font-size: 2rem;
}
.addtocart .item-color ,.item-size
{
    margin-top: 10px;
    font-size: 1.2rem;
    position: relative;
  
}
.addtocart .item-color select ,.item-size select
{
   width: 150px;
   height: 40px;
   outline: none;
   border: none;
   background-color: rgb(208, 208, 255);
   border-radius: 10px;
   text-align: center;
   padding: 5px;
}
.addtocart .item-color option ,.item-size option
{
   background-color: rgb(255, 255, 255);
    
}
.addtocart .input input
{
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 5px;
    font-weight: 900;
    margin-top: 1px;
    margin-left: 0px;
    
    
}
.addtocart .input
{
    display:flex;
    width: 120px;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(182, 182, 182, 0.548);
    margin-top: 20px;
    margin-left: 10px;
}
.addtocart .input p{
    width: 250px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgba(182, 182, 182, 0.548);
    margin-left: 60px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 900;
    
}
.addtocart .input button
{
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40px;
    display:inline;
    font-weight: 900;
    font-size: 1.6rem;
    outline: none;
    padding-bottom:20px ;
   
    
}
.addtocart .btn-add {
    width: 300px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1px 0;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 900;
    background-color: rgb(86, 255, 247);
    background-image: linear-gradient(45deg,rgb(247, 103, 252),rgb(255, 79, 79));
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgba(182, 182, 182, 0.548);
    border-radius: 10px;
  }
  
  .addtocart .btn-add:hover , .order-now h4:hover{
    color: rgb(37, 37, 37);
  }

  .cart-icon
  {
      position: absolute;
      top: 7%;
      left: 95%;
  }
  .cart-icon i
{
    font-size: 1.4rem;
}
.cart-icon sup
{
    font-size: 0.9rem;
    font-weight: 900;
    background-color: rgb(255, 21, 21);
    text-align: center;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    color: rgb(255, 255, 255);
}

.order_list
{
    margin: 20px;
    padding: 20px;
    
}
.order_details , .totalprice
{
    display:flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgba(75, 74, 74, 0.404);
    border-radius: 5px;
    margin-top: 20px;
}
.order_details:hover
{
    background-color: rgb(230, 230, 230);
}
.order_details h1{
    width: 450px;
    font-size: 1.3rem;
    margin: 15px;
    color: rgb(39, 39, 39);
}
.order_details p , .totalprice p{
    width: 100px;
  margin: 15px;
  margin-left: 50px;
  text-align: center;
  font-size: 1rem;
  color: rgb(167, 167, 167);
  font-weight: 900;
}
.order_details h3 , .totalprice h3{
    width: 200px;
    font-size: 1.2rem;
    margin: 15px;
    margin-left: 130px;
    color: rgb(249, 79, 255);
    
}
.order_details button
{
    width: 100px;
    background-color: #ff009d;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin: 15px;
    margin-left: 25px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
}
.totalprice 
{
    width: 990px;
    margin-left: 495px;
    margin-bottom: 20px;
    padding-left: 30px;
    background-color: rgb(27, 27, 27);
}
.btnorder
{
    width: 250px;
    background-color: #ff009d;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
}
.btnorder:hover
{
    color: rgb(182, 182, 182);
}
.cartdetails
{
    width: 400px;
    margin: 20px;
    margin-left: 520px;
}
.cartdetails h3
{
    text-align: center;
    font-size: 1.5rem;
}
#orderconfirm
{
    display:none;
}
.orderconfirm
{
    width: 950px;
    height: 600px;
    display:flex;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px rgba(75, 74, 74, 0.404);
    border-radius: 5px;
    position: fixed;
    top: 6vh;
    left: 30vh;
}
.orderconfirm .order-title
{
    width: 500px;
    background-color: rgb(240, 238, 238);
    padding: 20px;
}
.orderconfirm .order-title h1 ,.paymant h1
{
    font-size: 1.3rem;
    color: rgb(14, 82, 230);
    font-weight: 900;
}
.orderconfirm .order-title p
{
    font-size: 0.9rem;
    color: rgb(104, 104, 104);
    font-weight: 900;
}
.orderconfirm .order-title h3
{
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
    font-weight: 900;
}
.orderconfirm .order-title li
{
   list-style:none;
   margin: 20px;
   color: rgb(94, 94, 94);
   font-weight: 900;
}
.paymant
{
    width: 500px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    
}
.orderconfirm .payment_type img
{
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 1px 1px rgba(75, 74, 74, 0.404);
    margin: 10px;
    cursor: pointer;
   

}
.orderconfirm .paymant .paymentform
{
    width: 400px;
    box-shadow: 1px 1px 1px 1px rgba(75, 74, 74, 0.404);
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
    display:none;
}
.orderconfirm .paymant .paymentform h4
{
    margin-left: 120px;
    color: rgb(54, 54, 54);
}
.paymentform input
{
    width: 300px;
    height: 30px;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: .8rem;
    color: #333;
    box-shadow: 1px 1px 1px 1px rgba(75, 74, 74, 0.404);
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
}


.ratingss{
    width: 300px;
  display:block;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 41%;
}
.ratingss h2{
  font-size: 0.9rem;
}
.rating-wrap{
  max-width: 580px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
  text-align: center;
}

.center{
  width: 162px; 
  margin-left: 70px;
}


#rating-value{	
  width: 110px;
  padding: 10px 5px;
  margin-top: 30px;
  margin-left: 80px;
  text-align: center;
  font-size: 0.8rem;
  box-shadow: inset 0 0 2px 1px rgba(46,204,113,.2);
}

/*styling star rating*/
.rating{
  border: none;
  float: left;
}

.rating > input{
  display: none;
}

.rating > label:before{
  content: '\f005';
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
}

.rating > .half:before{
  content: '\f089';
  position: absolute;
  cursor: pointer;
}


.rating > label{
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
  color: #2ce679;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
  color: #2ddc76;
}
